*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
button{
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
ul{
    list-style: none;
}
/*The contents of the initial window*/
.top{
    display: flex;
    margin-left: 20px;
    justify-content: center;
}

.topleft{
    margin-top: 50px;
    flex: 7;
    margin-left: 10px;
}
.toppest{
    display: flex;
    flex: 1;
    margin-bottom: 50px;
}

.logo{
    flex: 1;
}
.landsButton{
    margin-left: 150px;
    display: flex;
    flex: 1;
    
}
.signupButton{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
}
.loginButton{
    background-color: white;
    width: 120px;
    height: 50px;
}
.topright{
    flex: 6;
    margin: 0;
    
}
.location{
    display: flex;
    margin-bottom: 30px;
}
.locationEntry{
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    
}
.deliveryLocation{
    border-style: none;
    flex: 2;
    width: 200px;
    margin-left: 5px;
}
.locateMe{
    margin-left: 250px;
    text-align: right;
    border-style: none;
    padding:5px;
    background-color: white;
    color: grey;
}
.findFood{
    text-align: right;
    background-color: #fc8019;
    color: white;
    padding: 20px;
}
.topPlace{
    background-color: white;
    color: gray;
    margin: 5px;
}
/*The seconsd section*/
.section2{
    background-color: rgb(44, 14, 6);
    display: flex;
}
.section2-1{
    flex: 1; 
    text-align: center; 
    
}
.section3{
    display: flex;
}
/*Footer section*/
.footer{
    padding: 20px;
    padding-top: 100px;
    width: 100%;
    background-color: black;
    color: white;
    
}
.footer1{
    display: flex;
}

.cList{
    color: white;
    background-color: black;
    padding-top: 15px;
    font-size:medium;
    text-align: left;
    
    font-family: 'Poppins', sans-serif;
}

    

.footer-1List{
    flex: 3;
}
.footer1-buttons{
    flex:2
}

/*We Deliver To Section*/
.weDeliver{
    display: flex;
    padding: 20px;
}
.bottom{
    text-align: center;
    margin-top: 30px;
    display: flex;
}