*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Poppins', sans-serif;
    
    margin: 0;
    padding: 0;
    
}
button{
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

ul{
    list-style: none;
}
/*The contents of the initial window*/

.top{
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

.topleft{
    margin-top: 70px;
    flex: 7;
    margin-left: 10px;
}
.toppest{
    display: flex;
    flex: 1;
    margin-bottom: 50px;
}

.logo{
    flex: 1;
}
.landsButton{
    margin-left: 100px;
    display: flex;
    flex: 1;
    
}
.signupButton{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    font-size: large;
}
.loginButton{
    background-color: white;
    width: 120px;
    height: 50px;
    font-size: large;
}
.topright{
    flex: 6;
    margin-left: 30px;
    
}
.location{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.locationEntry{
    display: flex;
    
}

.deliveryLocation{
    border: none;
    border-top: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    flex: 2;
    padding-left: 10px;
    position: relative;
    width: 470px;
    color: gray;
    font-size: medium;
    font-weight: bold;
}
.deliveryLocation:focus{
    outline: none;
    border-top: 1px solid #fc8019;
    border-bottom: 1px solid #fc8019;
    border-left: 1px solid #fc8019;
}
.locateMe{
    margin-left: 400px;
    margin-top: 15px;
    text-align: right;
    border-style: none;
    padding:5px;
    background-color: white;
    color: grey;
    position: absolute;
    
}
.findFood{
    text-align: center;
    background-color: #fc8019;
    color: white;
    padding: 20px;
    width: 130px;
    font-size: medium;
    font-weight: bold;
}
.topPlace1{
    background-color: white;
    color: gray;
    margin: 5px;
    font-weight: bold;
    font-size: medium;
}
.topPlace2{
    background-color: white;
    color: rgb(183, 181, 181);
    margin: 5px;
    font-size: medium;
}
/*The seconsd section*/

.section2{
    background-color: rgb(43, 30, 22);
    display: flex;
    margin-top: -4px;
    padding-top: 5px;
}
.section2-1{
    flex: 1; 
    text-align: center; 
    
}
.section3{
    display: flex;
    
}
/*Footer section*/

.footer{
    padding: 20px;
    padding-top: 100px;
    
    background-color: black;
    color: white;
    
}
.footer1{
    display: flex;
}

/*This class is used throughout the footer for buttons*/
.cList{
    color: white;
    background-color: black;
    padding-top: 15px;
    font-size:medium;
    text-align: left;
    
    font-family: 'Poppins', sans-serif;
}
.cList:hover {
    font-weight: bold;
 }
    

.footer-1List{
    flex: 3;
}
.footer1-buttons{
    flex:2
}

/*We Deliver To Section*/
.weDeliver{
    display: flex;
    padding: 20px;
}
/*Bottom section*/
.bottom{
    text-align: center;
    margin-top: 30px;
    display: flex;
}