@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}


:root {

    --primary-color: #fc8019;
    --secondary-color: rgba(2, 6, 12, 0.6);

}


.section {
    padding: 40px 115px;
}



/* ==============Navigation Bar========== */

header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}


.nav-bar-container {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* margin-bottom: 100px; */


}


.nav-bar .logo {
    position: absolute;
    left: 10px;
    top: 12px;
}

.nav-bar .logo img {

    width: 35px;
    position: absolute;
    left: 70px;

}


.nav-bar .address {
    display: flex;
    position: absolute;
    left: 170px;
    top: 24px;
}



.nav-bar p {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 510;
    /* margin-top: 15px; */
}

.nav-bar span {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 15px;
    color: var(--secondary-color);
}



.nav-bar .nav-items {
    display: flex;
    list-style: none;
    position: absolute;
    right: 80px;
    top: 28px;
    color: var(--secondary-color);

}

.nav-bar .nav-items li {
    margin-left: 45px;
    transition: 0.3s ease;

}

.nav-bar .nav-items i {
    margin: 3px;
}

.nav-bar .address span i {
    color: var(--primary-color);
    margin-left: 3px;
    font-weight: 650;
}


.nav-bar .nav-items :hover {
    color: var(--primary-color);
    cursor: pointer;
}


/*=============MENU============ */



#menu-box-container {
    display: block;
    margin: 100px 300px 0px 300px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}


#menu-box-container .menu-box {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    border-bottom: 1px solid rgba(100, 100, 111, 0.2);
    position: relative;
}

#menu-box-container .menu-box .left-side {
    max-width: 60%;
}

#menu-box-container .menu-box .left-side span {
    background-color: #ff0b13;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    font-size: 13px;

}


#menu-box-container .menu-box .left-side h3 {
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: var(--dark, #211E1E);
    
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15px;
}


#menu-box-container .menu-box .left-side .other-info {
    display: flex;
}

#menu-box-container .menu-box .left-side .other-info p {
    margin-right: 20px;
}




#menu-box-container .menu-box .right-side {

    position: absolute;
    right: 20px;
    bottom: 40px;

}


#menu-box-container .menu-box .right-side button {

    background-color: white;
    color:#60b246;
    padding: 16px 25px;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;

    left: 20%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #d4d5d9;
    box-shadow: 0 3px 8px #e9e9eb;


}

#menu-box-container img {
    width: 100px; 
    height: auto; 
  }
/*===========================================================*/

#menu-headings-container {
    display: block;
    margin: 100px 300px 0px 300px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

#menu-headings-container .menu-head {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    position: relative;
}

#menu-headings-container .menu-head .head-left-side {
    max-width: 60%;
}

#menu-headings-container .menu-head .head-left-side span {
    background-color: #ff0b13;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    font-size: 13px;

}


#menu-headings-container .menu-head .head-left-side h3 {
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: var(--dark, #211E1E);
    
    font-style: normal;
    font-weight: 800px;
    font-size: 30px;
    margin-bottom: 15px;

}


#menu-headings-container .menu-head .head-left-side p {
    display: flex;
    font-weight: 300px;
    font-size: 20px;
    color:#7e808c;
    margin-right: 20px;
}

/* #menu-headings-container .menu-head .head-left-side p {
    margin-right: 20px;
    font-weight: 300px;
    font-size: 30px;
} */




#menu-headings-container .menu-head .head-right-side button{

    position: absolute;
    right: 20px;
    bottom: 40px;
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    max-width: 100px;
    float: right;
    background-color: #fff;
    color: rgb(61, 155, 109);

}

    

/* 
  #menu-headings-container .menu-head .head-left-side {
    width: auto; 
    height: auto; 
    margin-left: 100px;
    margin-top: 100px;
  } */

hr{
    border: none; 
    border-top: 1px dashed rgba(100, 100, 111, 0.2);
    margin-left: 320px;
    margin-right: 320px;

}

.footer{
    background-color: #f1f1f6;
    color: #93959f;
    margin-left:320px;
    margin-right: 320px;
    font-weight: 300;
    line-height: 1.2;
}
.footer-top {
    display:flex;
    margin-left:5px;
    margin-bottom:30px;
    padding:50px;
    font-size: 25px;
    border-bottom: 1px solid rgba(100, 100, 111, 0.2);
}
.footer-img{
    flex:1;
}
.footer-license{
    flex:7;
}
.footer-bottom{
    margin-left:10px;
    margin-bottom:30px;
    font-size: 25px;
    font-weight: 400;
}
